<Project>
  <PropertyGroup>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugType>none</DebugType>
    <PublishDir>$(MSBuildThisFileDirectory)..\..\..\..\artifacts\publish\linux-x64\</PublishDir>
  </PropertyGroup>
  <ItemGroup>
    <None Include="..\..\packaging\linux\glideslope-launcher.sh" Link="glideslope-launcher.sh" CopyToPublishDirectory="PreserveNewest" />
  </ItemGroup>
</Project>
